
body {
  background-color: aliceblue;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  width: auto;
}

#logo {
  float: left;
  border-radius: 50%;
  max-width: 10%;
  max-height: 10%;
  cursor: pointer;
}

#menu {
  background-color: cornflowerblue;
  padding: 4px 0 4px 0;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  font-size: 1.5em;
}

#menu a {
  text-decoration: none; 
  color:aliceblue;
}

a:hover {
  font-variant-caps: small-caps;
}

/* Login CSS */

#output {
  margin: 1em 0;
  color: black;
  background-color: lightblue;
  padding: 1em;
  border: 1px solid #ddd;
}
fieldset {
  padding-top: 1em;
}
.field {
  width: 120px;
  margin: 0 0.5em 0.5em 0;
  float: left;
  clear: left;
  text-align: right;
}
/* Sets background color of focused fields to lightblue*/
textArea:focus {
  background-color: lightblue;
}
input:focus {
  background-color: lightblue;
}
.value {
  margin: 0 0 0.5em 0;
}
#save {
  float: right;
}

#password {
  -webkit-text-security: disc;
}

/* Button CSS */

#createButton {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 100;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
}

#createButton:hover {
    background-color: darkgray;
}