{% extends "layout.html" %}
{% block body %}
 
<div class="container">
  <form action="{{url_for('login') }}" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="name" name="username" class="form-control" id="username"  placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href={{url_for('register')}}><p style="font-size: 12;">or Register</p></a>
  </form>
</div>

{% endblock %}

